{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Page Title -->
    <title> Davide y Andrea </title>

    <!-- Favicon and Touch Icons -->
    <link href="{% static 'images/favicon/favicon.png' %}" rel="shortcut icon" type="image/png">
    <link href="{% static 'images/favicon/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'images/favicon/apple-touch-icon-72x72.png' %}" rel="apple-touch-icon" sizes="72x72">
    <link href="{% static 'images/favicon/apple-touch-icon-114x114.png' %}" rel="apple-touch-icon" sizes="114x114">
    <link href="{% static 'images/favicon/apple-touch-icon-144x144.png' %}" rel="apple-touch-icon" sizes="144x144">

    <!-- Icon fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Plugins for this template -->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick-theme.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.transitions.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.fancybox.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home">

    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start preloader -->
        <div class="preloader">
            <div class="inner">
                <span class="icon"><i class="fi flaticon-two"></i></span>
            </div>
        </div>
        <!-- end preloader -->


        <!-- Start header -->
        <header id="header" class="site-header header-style-2">
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="couple-logo">
                            <h1><a href="#home">D <i class="fi flaticon-shape-1"></i> A</a></h1>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right navigation-holder">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li><a href="#home">{% trans 'Home' %}</a></li>
                            <li><a href="#couple">{% trans 'Couple' %}</a></li>
                            {% if user.is_authenticated %}
                            {% if not user.is_staff or not user.is_admin %}
                            <li><a href="#events">{% trans 'Events' %}</a></li>
                            {% endif %}
                            {% endif %}
                            <li><a href="#rsvp">RSVP</a></li>
                        </ul>
                    </div><!-- end of nav-collapse -->
                </div><!-- end of container -->
            </nav>
        </header>
        <!-- end of header -->


        <!-- start of hero -->
        <section class="hero">
            <div class="static-hero"></div>
            <div class="wedding-announcement">
                <div class="couple-name-merried-text">
                    <h2 class="wow slideInUp" data-wow-duration="1s">Davide &amp; Andrea</h2>
                    <div class="married-text wow fadeIn" data-wow-delay="1s">
                        <h4 class="">
                            {% if language == 'es' %}
                        <span class=" wow fadeInUp" data-wow-delay="1.05s">N</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.10s">o</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.15s">s</span>
                        <span>&nbsp;</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.20s">v</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.25s">a</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.30s">m</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.35s">o</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.40s">s</span>
                        <span>&nbsp;</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.45s">a</span>
                        <span>&nbsp;</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.50s">c</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.55s">a</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.60s">s</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.65s">a</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.70s">r</span>

                            {% elif language == 'it' %}
                        <span class=" wow fadeInUp" data-wow-delay="1.05s">C</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.10s">i</span>
                        <span>&nbsp;</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.15s">s</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.20s">p</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.25s">o</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.30s">s</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.35s">e</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.40s">r</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.45s">e</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.50s">m</span>
                        <span class=" wow fadeInUp" data-wow-delay="1.55s">o</span>
                            {% endif %}
                        </h4>
                    </div>
                    <!-- <i class="fa fa-heart"></i> -->
                </div>

                <div class="save-the-date">
                    <h4>{% trans 'Save the date' %}</h4>
                    <span class="date">14 SEP 2018</span>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->

        <!-- start wedding-couple-section -->
        <section class="wedding-couple-section section-padding" id="couple">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="gb groom">
                            <div class="img-holder wow fadeInLeftSlow">
                                <img src="{% static 'images/couple/img-1.jpg' %}" alt>
                            </div>
                            <div class="details">
                                <div class="details-inner">
                                    <h3>El Novio</h3>
                                    <p>{% if language == 'es' %}Hola soy Davide, pugliese de corazón. Nací el 1 de Julio 1989. Soy conocido como Dade, amorcito o mangia mangia. Me gusta mucho la pasta al forno, pizza, y mozzarella. Siempre he sido curioso y explorador por lo que me arriesgue a estudiar en otras ciudades y así realizar mi tesis de maestría en Dinamarca, lugar donde conocí a mi amor.
                                        Espero que logren compartir esta gran aventura con nosotros.
                                        Cariños
                                        {% elif language == 'it' %}
                                        Ciao, sono Davide, pugliese dal cuore. Sono nato il 1 ° luglio 1989. Sono conosciuto come Dade, amorcito o mangia mangia. Mi piace molto la pasta con forno, pizza e mozzarella. Sono sempre stato curioso e un esploratore, quindi ho rischiato di studiare in altre città e di fare la tesi di master in Danimarca, dove ho incontrato il mio amore.
                                         Spero tu possa condividere questa grande avventura con noi.
                                         Carinos
                                        {% endif %}
                                    </p>
                                    <span class="signature">Davide</span>
                                </div>
                            </div>
                        </div>
                        <div class="gb bride">
                            <div class="details">
                                <div class="details-inner">
                                    <h3>La novia</h3>
                                    <p>{% if language == 'es' %}Guayaquileña de corazón, nacida el 29 de abril de 1987. Soy una persona reservada pero aventurera que siempre gustó de viajar alrededr del mundo; por lo que realicé mi pregrado y postgrado en Chile. Me encanta el encebollado y comer en los agachaditos, además de bailar, hacer aeroyoga, viajar y ser mamá. 
                                    Espero logren compartir esta gran aventura con nosotros. 
                                    cariños
                                    {%  elif language == 'it' %}
                                    Guayaquileña di cuore, nato il 29 aprile 1987. Sono una persona riservata ma avventurosa che ha sempre amato viaggiare in tutto il mondo; così ho fatto il mio corso di laurea e post-laurea in Cile. Adoro l'encebollado e mangiare negli agachaditos, oltre a ballare, fare aeroyoga, viaggiare e fare la mamma.
                                     Spero tu possa condividere questa grande avventura con noi.
                                     Carinos
                                    {% endif %}</p>
                                    <span class="signature">Andrea</span>
                                </div>
                            </div>
                            <div class="img-holder wow fadeInRightSlow">
                                <img src="{% static 'images/couple/img-2.jpg' %}" alt>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end wedding-couple-section -->

        {% if user.is_authenticated %}
        {% if not user.is_staff or not user.is_admin %}

        <!-- start count-down-section -->
        <section class="count-down-section section-padding parallax" data-bg-image="{% static 'images/countdown-bg.jpg' %}" data-speed="7">
            <div class="container">
                <div class="row">
                    <div class="col col-md-4">
                        <h2><span>{% trans 'We are waiting for' %}.....</span> {% trans 'The adventure' %}</h2>
                    </div>
                    <div class="col col-md-7 col-md-offset-1">
                        <div class="count-down-clock">
                            <div id="clock">
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end count-down-section -->

        <!-- start events-section -->
        <section class="events-section section-padding" id="events">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>{% trans 'Wedding events' %}</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div class="row">
                    <div class="col col-lg-10 col-lg-offset-1">
                        <div class="event">
                            <div class="img-holder">
                                <img src="{% static 'images/events/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>{% trans 'The reception' %}</h3>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> Largo Cattedrale, 1, 70037 Ruvo di Puglia BA, Italy.</li>
                                    <li><i class="fa fa-clock-o"></i> Sep 14 2019, 11:30AM</li>
                                </ul>
                                <p>Basílica de Ruvo di Puglia </p>
                                <a class="see-location-btn popup-gmaps" href="https://maps.google.com/maps?q=Largo%20Cattedrale%2C%201%2C%2070037%20Ruvo%20di%20Puglia%20BA%2C%20Italy&t=&z=17&ie=UTF8&iwloc=&output=embed">
                                    {% trans 'See location' %} <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="event">
                            <div class="img-holder">
                                <img src="{% static 'images/events/img-2.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="details">
                                <h3>{% trans 'Wedding party' %}</h3>
                                <ul>
                                    <li><i class="fa fa-map-marker"></i> Contrada Torre Di Nebbia, 70033 Corato BA, Italia.</li>
                                    <li><i class="fa fa-clock-o"></i> Sep 14 2019, 9AM - 5PM</li>
                                </ul>
                                <p>Masseria torre di nebbia. </p>
                                <a class="see-location-btn popup-gmaps" href="https://maps.google.com/maps?q=Contrada%20Torre%20Di%20Nebbia%2C%2070033%20Corato%20BA%2C%20Italia&t=&z=13&ie=UTF8&iwloc=&output=embed">
                                    {% trans 'See location' %} <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end events-section -->

        {% endif %}
        {% endif %}

        <!-- start rsvp-section -->
        <section class="rsvp-section section-padding parallax" data-bg-image="{% static 'images/rsvp-bg.jpg' %}" data-speed="7" id="rsvp">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title-white">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>{% trans 'Join our party' %}</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->
                {% if success %}
                                <div class="alert alert-success" id="success-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    <strong>Success! </strong>
                                    Your information has been stored
                                </div>
                                <script>
                                    $(document).ready (function(){
                                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                                           $("#success-alert").slideUp(500);
                                        });
                                     });
                                </script>
                {% endif %}

                {% if error_message %}
                                <div class="alert alert-danger" id="danger-alert">
                                    <button type="button" class="close" data-dismiss="alert">x</button>
                                    {{ error_message }}
                                </div>
                                <script>
                                    $(document).ready (function(){
                                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
                                           $("#success-alert").slideUp(500);
                                        });
                                     });
                                </script>
                {% endif %}

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <br/>
                            <div class="col col-md-12 success-error-message alert alert-danger" id="danger-alert" role="alert">
                                <button type="button" class="close" data-dismiss="alert">x</button>
                                <div id="success">{{ error|escape }}</div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                <div class="row content">
                    <div class="col col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <p>{% trans 'Please confirm before March 31th, 2019.' %}</p>

                        {% if form_name == 'person' %}
                        <form id="rsvp form" class="form row" method="POST">
                            {% csrf_token %}
                            <div class="col col-sm-10">
                                {{ form.full_name }}
                            </div>
                            <div class="col col-sm-12 submit-btn">
                                <button type="submit" class="submit" name="submit">{% trans 'Find my invitation' %}</button>
                            </div>
                            
                        </form>
                        {% elif form_name == 'rsvp' or form_name == 'rsvp-focus' %}
                            <form  id="rsvp form" class="form row" method="post">
                                    {% csrf_token %}
                            {{ form.management_form }}
                            {% for single_form in form %}

                            <div class="f-management" id="{forloop.counter}}" >
                                <p>
                                    <b>{% trans 'Guest' %} {{forloop.counter}} {% trans 'of' %} {{ total_guest }} : 
                                    {{ single_form.full_name.value }}</b>
                                </p>
                                    <div class="col col-sm-6">
                                        <h3 style="color:#FFF;">{{ single_form.status.label_tag }}</h3>
                                        {{single_form.status}}
                                        
                                    </div>
                                    <div class="col col-sm-6">
                                        <h3 style="color:#FFF;">{{ single_form.meal.label_tag }}</h3>
                                        {{single_form.meal}}
                                        
                                    </div>
                                    <div class="col col-sm-12">
                                        <h3 style="color:#FFF;">{{ single_form.notes.label_tag }}</h3>
                                        {{single_form.notes}}
                                    </div>
                                    <input type="hidden" name="form-{{forloop.counter0}}-full_name" class="hidden-full-name" id="id_form-{{forloop.counter0}}-full_name" value="{{ single_form.full_name.value }}"/>
                                    {{ single_form.id }}
                            {% endfor %}

                            </div>
                            <div class="col col-sm-12 submit-btn">
                                    <button type="submit" class="submit" name="back" formnovalidate>{% trans 'Back' %}</button>
                                    <button type="submit" class="submit" name="submit">{% trans 'Confirmar Asistencia' %}</button>
                                </div>
                            </form>
                        {% endif %}
                        
<!--
                        <form id="rsvp-form" class="form validate-rsvp-form row" method="post">
                            <div class="col col-sm-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name*">
                            </div>
                            <div class="col col-sm-6">
                                <input type="email" name="email" class="form-control" placeholder="Your Email*">
                            </div>
                            <div class="col col-sm-6">
                                <select class="form-control" name="guest" >
                                    <option disabled selected>Number Of Guest*</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div class="col col-sm-6">
                                <select class="form-control" name="events" >
                                    <option disabled selected>I Am Attending*</option>
                                    <option>Al events</option>
                                    <option>Wedding ceremony</option>
                                    <option>Reception party</option>
                                </select>
                            </div>
                            <div class="col col-sm-12">
                                <textarea class="form-control" name="notes" placeholder="Your Message*"></textarea>
                            </div>
                            <div class="col col-sm-12 submit-btn">
                                <button type="submit" class="submit">Send Invitation</button>
                                <span id="loader"><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></span>
                            </div>
                            <div class="col col-md-12 success-error-message">
                                <div id="success">Thank you</div>
                                <div id="error"> Error occurred while sending email. Please try again later. </div>
                            </div>
                        </form>
                    -->

                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end rsvp-section -->

        {% if user.is_authenticated %}
        {% if not user.is_staff or not user.is_admin %}

        <!-- start getting-there-section -->
        <section class="getting-there-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title-white">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>{% trans 'Getting there' %}</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div class="row content">
                    <p>{% trans 'We recomend using Kayak for the flight/hotel deals' %}</p>
                    <div class="col col-md-12" style="height:350px">
                        <div id="kayakIntegration">
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end getting-there-section -->


        <!-- start gift-registration-section -->
        <section class="gift-registration-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <div class="vertical-line"><span><i class="fi flaticon-two"></i></span></div>
                            <h2>{% trans 'Gift' %}</h2>
                        </div>
                    </div>
                </div> <!-- end section-title -->

                <div class="row content">
                    <div class="col col-lg-10 col-lg-offset-1">
                        <p>Si no puedes acompañar a Andrea y Davide en su aventura puedes enviar su regalo de matrimonio en los siguientes links.</p>
                        <h3>Ecuador</h3>
                        <p>
                                Cuenta bancaria banco del Pacífico</br>
                                Cuenta de ahorro 1043596460</br>
                                Andrea Orellana-Manzano</br>
                                Ci: 0924157233</br>
                                Mail: andrea.orellanamanzano@gmail.com 
                        </p>
<!--
                        <div class="gif-registration-slider">
                            <div class="register">
                                <img src="{% static 'images/gift/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="register">
                                <img src="{% static 'images/gift/img-2.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="register">
                                <img src="{% static 'images/gift/img-3.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="register">
                                <img src="{% static 'images/gift/img-1.jpg' %}" alt class="img img-responsive">
                            </div>
                            <div class="register">
                                <img src="{% static 'images/gift/img-2.jpg' %}" alt class="img img-responsive">
                            </div>
                        </div>
                    -->
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end gift-registration-section -->

{% endif %}
        {% endif %}
        <!-- start footer -->
        <footer class="wedding-couple-section section-padding">
            <div class="back-to-top">
                <a href="#" class="back-to-top-btn"><span><i class="fi flaticon-cupid"></i></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>{% trans 'Forever and Always Our Love' %}</h2>
                        <span>- Davide ({% trans 'The groom' %})</span>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </footer>
        <!-- end footer -->

        

    </div>
    <!-- end of page-wrapper -->



    <!-- All JavaScript files
    ================================================== -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins for this template -->
    <script src="{% static 'js/jquery-plugin-collection.js' %}"></script>

    <!-- Custom script for this template -->
    <script src="{% static 'js/script.js' %}"></script>

    <script type="text/javaScript" src="https://www.kayak.com/affiliate/widget-v2.js"></script>

    {% if error_focus or form_name %}
        {% if error_focus == "PersonForm" or form_name == 'rsvp-focus' %}
            <script>
                $(function() {
                    $('html, body').animate({
                        scrollTop: $("#rsvp").offset().top
                    }, 1);
                 });
            </script>
        {% endif %}
    {% endif %}

    {% if user.is_authenticated %}
        {% if not user.is_staff or not user.is_admin %}
        <script type="text/javaScript" src="https://www.kayak.com/affiliate/widget-v2.js"></script>
        <script type="text/javaScript">
            KAYAK.embed({
                container: document.getElementById("kayakIntegration"),
                defaultProduct: "flights",
                startDate: "2019-10-02",
                endDate: "2019-10-28",
                origin: "Guayaquil (GYE)",
                destination: "Bari (BRI)",
                travelers: {{total_guest}},
                lc: "{{language}}",
                cc: {% if language == 'es' %}"ec"{% else %}"it"{% endif %}
            });
        </script>

        {% endif %}
    {% endif %}

</body>
</html>
