{% load i18n %}
<html>
    <head>
        <title>Davide y Andrea</title>
    </head>
    <body>
        <div>
            <h1><a href="/">{% trans 'Davide and Andrea&#39;s wedding' %}</a></h1>
        </div>

        <div>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </body>
</html>